<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Plantilla</title>
	</head>
	<body>
		<header th:fragment="header">
			<h1 th:text="#{plantilla.titulo}"></h1>
		</header>
		<footer th:fragment="footer">
		
			<div>
				<br/>
				<a th:href="@{/(lang=es)}">Es</a>|
				<a th:href="@{/(lang=en)}">En</a>|
				<span>[[#{plantilla.pie}]]</span>
				<form method="POST" th:action="@{/logout}">
					<a href="#" onclick="this.parentNode.submit();">Logout</a>
				</form>
			</div>
		</footer>
	</body>
</html>