<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Inicio</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<div>inicio</div>
		<p th:text="${mensaje}"></p>
		Nombre: <span th:text="${persona.nombre}">Mostrar nombre</span>
		<br/>
		Apellido: <span th:text="${persona.apellido}">Mostrar apellido</span>
		<br/>
		E-mail: <span th:text="${persona.email}">Mostrar Email</span>
		<br/>
		Telefono: <span th:text="${persona.telefono}">Mostrar telefono</span>
		<br/>
	</body>
</html>